
:root {
   --basic-black: #000;
   --basic-red: #EE3643;
   --basic-header: #293449;
   --basic-nav: #32425C;
   --basic-white: #fff;
   --basic-background-services: #F1F5F7;
   --basic-background-products: #F9F5F0;
   --basic-price: #A9A9A9;
   --basic-form: #F7F3EC;
}

.page-body {
   margin: 0;
   padding: 0;

   font-family: 'Cuprum','PT Sans', sans-serif;

   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
   color: var(--basic-black);
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

.page-container{
   max-width: 940px;
   margin: 0 auto;
}

.list-reset {
   margin: 0;
   padding: 0;
   list-style: none;
}

img {
   max-width: 100%;
   height: auto;
}

a {
   text-decoration: none;
}


/*================ Header-Logo ========================
======================================================= */ 

.header__main-block {
   background-color: var(--basic-header);
}

.main-form__search {
   color: var(--basic-white);
   border:none;
}

.main-list__item {
   color: var(--basic-white);
}

.main-list__item--green {
   background-color: #63A63E;
}

/*================ Header-Info ========================
======================================================= */ 

.header-contacts {
   background-image: url(img/bg-header.png); 
}

.header-contacts__title {
   color: var(--basic-red);
   font-style: italic;
   font-size: 16px;
   line-height: 23px;
   font-weight: 400;
}

.header-block__phone {
   color:var(--basic-red);
   font-size: 21px;
   font-weight: 700;
   line-height: 30px;
   text-decoration: none;
}

.header-block__address {
   color: var(--basic-nav);
   font-size: 14px;
   line-height: 24px;
   text-align: center;
}

.header-regist__login,
.header-regist__registration {
   background-color: var(--basic-white)
}

.header-regist__login a,
.header-regist__registration a {
   color: var(--basic-black);
   font-size: 21px;
   line-height: 21px;
   text-decoration: none;
}
/*================ Header-Navigation ==================
======================================================= */ 

.nav-menu {
   background-color: var( --basic-nav); 
   box-shadow: inset 0px -5px 0px #293449;
}

.nav-menu__item a {
   color: var(--basic-white);
   text-decoration: none;
}

/*================ Main-Slider ========================
======================================================= */ 


.advantages__item {
   width: 300px;
   height: 123px;
}

.advantages__item--yellow {
   background: #FFBF47; 
}

.advantages__item--blue {
   background: #3BBCE3;
}

.advantages__item--purple {
   background :#DC91D8;
}

.advantages__item--green {
   background: #8ED78F;
}

.advantages__item--orange {
   background: #FFC047;
}

.advantages__subtitle {
   color: var(--basic-white);
   font-size: 24px;
   line-height: 30px;
   font-weight: 700;
}

.advantages__link {
   color: var(--basic-white);
   font-size: 14px;
   background-color:  rgba(255,255,255,.3)
}


/*==================== Slider =========================
======================================================= */ 

.advantages-sliderr__subtitle {
   color: var(--basic-white);
   font-size: 36px;
   line-height: 36px;
   font-weight: 700;
}

.advantages-slider__description {
   color: var(--basic-white);
}

.advantages-slider__img {
   background-color: #ccc;
}

/*===================== BTN ===========================
======================================================= */ 
.button,
.advantages-slider__btn,
.delivery__btn {
   background-color: var(--basic-red);
   
   text-transform: uppercase;
   text-decoration: none;

   color: var(--basic-white);
   font-size: 14px;
   line-height: 18px;
   text-align: center;
   
   padding: 11px 46px 9px 46px;
}

.card__btn {
   background-color: var(--basic-red);

   text-transform: uppercase;
   text-decoration: none;

   color: var(--basic-white);
   font-family: 'PT Sans' sans-serif;
   font-size: 17px;
   line-height: 18px;
   font-weight: 700;
   text-align: center;

   padding: 10px 32px 10px 44px;
}

.services-wrap__btn {
   background-color: #FF5357;

   text-transform: uppercase;
   text-decoration: none;

   color: var(--basic-white);
   font-size: 14px;
   line-height: 18px;
   font-weight: 400;
   text-align: center;

   padding: 10px 8px 10px 9px;
}

.card__link {
   color: var(--basic-white);
   font-size: 14px;
   line-height: 18px;
   text-align: center;
   text-transform: uppercase;
   text-decoration: none;

   background-color: #63A63E;
   
   padding: 10px 18px; /*Рандомные свойства*/
}

.card__link2 {
   color: var(--basic-nav);
   font-size: 14px;
   line-height: 18px;
   text-align: center;
   text-transform: uppercase;
   text-decoration: none;

   border: 2px solid  #63A63E;

   padding: 8px 8px; /*Рандомные свойства*/
}

.form-btn {
   font-family: 'PT Sans', sans-serif;
   font-size: 13px;
   line-height: 18px;
   font-weight: 400;
   text-align: center;
   text-transform: uppercase;

   background-color: var(--basic-white);
   border: 1px solid #E5E5E5;

   padding: 10px 78px;

}

/*===================== Card-wrapper ==================
======================================================= */ 

.card__wrapper {
   background: var(--basic-background-products);
}

.card__title {
   color: var(--basic-nav);
   font-family: 'Cuprum', sans-serif;
   font-size: 30px;
   line-height: 30px;
   font-weight: 400;
   text-transform: uppercase;
}

/*===================== Card ==========================
======================================================= */ 

.card__list {
   font-family: 'PT Sans' sans-serif;
}

.card__subtitle {
   color: var(--basic-black);
   font-size: 18px;
   line-height: 20px;
   font-weight: 700;
   text-align: center;
}

.card__price {
   font-size: 17px;
   line-height: 18px;
   font-weight: 700;
   text-align: center;
}

/*===================== Manufacturers =================
======================================================= */ 

.manufacturers__inner {
   background: var(--basic-background-products);
}

.manufacturers__subtitle {
   color: var(--basic-nav);
   font-family: 'Cuprum', sans-serif;
   font-size: 30px;
   line-height: 30px;
   font-weight: 400;
   text-transform: uppercase;
}

/*===================== Services ======================
======================================================= */ 

.services__subtitle {
   color: var(--basic-black);
   font-family: 'Cuprum', sans-serif;
   font-size: 30px;
   line-height: 30px;
   font-weight: 400;
   text-transform: uppercase;
}

.services__text,
.services-wrap__text {
   font-family: 'PT Sans' sans-serif;
   font-size: 13px;
}

.services__list {
   font-size: 21px;
   font-family: 'Cuprum', sans-serif;
}

.services__item a {
   color: var(--basic-nav);
}

.services-wrap__subtitle {
   color: var(--basic-nav);
   font-family: 'PT Sans' sans-serif;
   font-size: 30px;
   line-height: 30px;
   font-weight: 400;
   text-transform: uppercase;
}

/*===================== Delivery ======================
======================================================= */ 

.delivery__subtitle {
   color: var(--basic-black);
   font-family: 'Cuprum', sans-serif;
   font-size: 30px;
   line-height: 30px;
   font-weight: 400;
   text-transform: uppercase;
}

.delivery__text {
   font-family: 'PT Sans' sans-serif;
   font-size: 13px;
}

.delivery__item::after {
   content: "";
   width: 20px;
   height: 2px;
   display: block;
   background-color: var(--basic-red); /*Псевдо элемент "черточки"*/
}

/*===================== Footer__nav ======================
======================================================= */ 

.footer__nav {
   background: var(--basic-nav)
}

.footer__item a {
   color: #F1F5F7;
}

.footer__list--orange a {
   color: #FFD180;
}

.footer__adress,
.footer__phone  {
   color: #F3F7F9;
}

/*===================== Footer__nav2 ======================
======================================================= */ 

.footer-сopyright__wrap {
   background: var(--basic-header);
}

.footer-сopyright__text {
   color: var(--basic-white);
   font-size: 16px;
   line-height: 18px;
}


.social__item {
   width: 44px;
   height: 44px;
}

.social__item--vk {
   background-image: url(/img/social/vk.svg);
}

.social__item--fb {
   background-image: url(/img/social/fb.svg)
}

.social__item--instagram {
   background-image: url(/img/social/insta.svg)
}


.copyright-development__text,
.copyright__text {
   color: var(--basic-white);
   font-size: 16px;
   line-height: 18px;
}

.copyright a,
.copyright-development a {
   color: #FFD180;
   font-size: 16px;
   line-height: 18px;
}


/*===================== CATALOG =======================
=======================================================
======================================================= */ 

.bread-crumbs__item a {
   color: var(--basic-black);
   font-size: 13px;
   line-height: 18px;
   text-transform: uppercase;
}

.perforator {
   background-color: #F2F6F8;
}

.perforator__subtitle {
   color: var(--basic-nav);
   font-size: 30px;
   line-height: 30px;
   font-weight: 400;
   text-transform: uppercase;

   padding: 10px 0;
}

/*===================== Forma== =======================
======================================================= */ 

.form__wrap {
   background-color: var(--basic-form);
}

.form__subtitle {
   font-size: 13px;
   line-height: 18px;
   text-transform: uppercase;

   padding: 10px 0;
}

.fieldset__price {
   font-size: 17px;
   line-height: 30px;
   font-weight: 700;
   text-transform: uppercase;

   padding: 10px 0;
}

.lable-range,
.lable-text,
.lable-price {
   background-color:var(--basic-form);
   padding: 10px 0;
}

.lable-range {
   padding: 20px 0;
}

.lable-text__input,
.lable-price__input {
   font-size: 17px;
   line-height: 18px;
   text-align: center;

   border: none;
}

.fieldset__item {
   font-size: 15px;
   line-height: 19px;
   text-transform: uppercase;
}

.fieldset__item-checked {
   color: #C5C5C5;
}



